<!DOCTYPE html>
<html xmlns:th="http://www.thymeleag.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary btn-xs">Create New
						Client</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>NAME</th>
							<th>SURNAME</th>
							<th>EMAIL</th>
							<th>DATE</th>
							<th>EDIT</th>
							<th>DELETE</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="client: ${clients}">
							<td th:text="${client.id}"></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.surname}"></td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.createdAt}"></td>
							<td><a th:href="@{/form/} + ${client.id}" th:text="'Edit'"
								class="btn btn-success btn-xs"></a></td>
							<td><a th:href="@{/delete/} + ${client.id}"
								th:text="'Delete'" class="btn btn-danger btn-xs"
								onclick="return confirm('Are you sure you want to delete this client?');"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>